<div class="d-flex flex-column min-vh-100 align-items-center mt-5">
    <h1 class="mt-5 fs-1">About us</h1>
    <p class="lead fs-2">We are one of the biggest company providing online library services.</p>
    <p class="lead fs-2">Our virtual library contains thousands of books.</p>
    <p class="lead fs-2">By simply creating an account you can start using it.</p>
</div>