<h1 class="mt-5 fs-1">Contact info</h1>
<p class="lead fs-2">If you want to contact us, use one of the following methods below.</p>
<ul class="text-left">
    <li>
        E-mail: <a href ="#" class="link-success">bookit.info@bookit.com</a>
    </li>
    <li>
        Phone: 987-654-321
    </li>
    <li>
        Facebook: <a href ="#" class="link-success">facebook.com/bookit</a>
    </li>
</ul>