@{
    ViewData["Title"] = "Home";
}

<div class="text-center align-text-bottom">
    <h1 class="display-4">Welcome to BookIT</h1>
    <h2 class="display-4">Sign in and search through our online library</h2>
</div>
