<h1 class="mt-5 fs-1">Welcome to BookIT</h1>
<p class="lead fs-2">A virtual online library where you can browse and borrow books.</p>
<p class="lead mt-3 fs-3">If you are not signed up yet, you can do it now <a class="link-success" asp-controller="Home" 
    asp-action="Login" style="text-decoration: none;"><b>here</b></a></p>
