<div class="row text-center my-5">
    <span class="fs-1 fw-bold">Book<a style="color: #198754">IT</a></span>
</div>
<div class="row d-flex justyfy-content-center align-items-center">
    <div class="col mx-0 px-5">
        <form class="form-signin">
            <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-success btn-block mt-3" type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <div class="col mx-0 px-5" style="border-left: solid #198754 1px;">
        <form class="form-signin">
            <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="password" id="inputRepeatePassword" class="form-control" placeholder="Repeat password" required>
                <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required>
                <button class="btn btn-lg btn-success btn-block mt-3" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>