@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mt-5 fs-1">Welcome to BookIT</h1>
    <p class="lead fs-2">A virtual online library where you can browse and borrow books.</p>
    <img style="max-height: 700px; max-width: 500px;" src="~/book.png" alt="book" />
</div>
