@model IEnumerable<bkit.Models.DataModel>
@using Microsoft.AspNetCore.Identity
@using bkit.Areas.Identity.Data
@inject UserManager<bkitUser> UserManager

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Borrowed books</h2>

<table class="table">
    <tr style="border-bottom: 1px solid #198754;">
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{  
    <tr style="border-bottom: 1px solid #198754;">
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            <button style="border: none; background: none">
                @Html.ActionLink("", "Return", new {Book = item.id, User = UserManager.GetUserId(User)}, new {@class="fa-solid fa-arrow-left-long fa-xl", @style="color: #198754;"})
            </button>
        </td>
    </tr>
}
</table>
</div>
